*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#about .about-content{
    max-width: 827px;
}

#about .about-content h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding-bottom: 30px;
}

#about .about-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: center;
    padding-bottom: 30px;
}

/* main style */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url(../images/header_bg.png) , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-content button{
    margin-right: 30px;
}

#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;   
}

#about .about-info{
    display: flex;
    justify-content: space-around;
}

#about .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

#about .about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}