*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

 .about-content{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

#about .about-content h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding-bottom: 30px;
}

#about .about-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: center;
    padding-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* main style */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url(../images/header_bg.png) , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-content button{
    margin-right: 30px;
}

#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;   
}

#about .about-info{
    max-width: 782px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#about .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

#about .about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}

#skill-heading{
    padding-top: 130px;
}

#skill-heading .skill-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skill-heading .skill-section .about-content h3{
   font-size: 35px;
   font-weight: bold;
   color: #181818;
   padding-bottom: 30px;
}

#skill-heading .skill-section .about-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 50px;
}

#skill-heading .skill-section .skill{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    
}

#skill-heading .skill-section .skill .skill-cart{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000010;
}

#skill-heading .skill-section .skill .skill-cart img{
max-width: 44px;
margin-bottom: 30px;
}

#skill-heading .skill-section .skill .skill-cart h4{
    max-width: 174px;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}

#skill-heading .skill-section .skill .skill-cart p{
    max-width: 201px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;
}

#resume{
    margin-top: 130px;
}


#resume .resume-content{
    max-width: 1093px;
    margin: 0 auto;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-content hr{
margin: 30px 0;
}

#resume .resume-content .education .education-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
    max-width: 203px;
}

#resume .resume-content .education .education-cart{
    max-width: 511px;
    margin-right: 47px;
}

#resume .resume-content .education .education-cart .cart-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.education-cart .cart-info{
    font-size: 20px;
    font-weight: 600;
    color:#757575;
    margin-bottom: 20px;
}

.education-cart .cart-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}